annotated-types==0.5.0
anyio==3.7.1
asn1crypto==1.5.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cryptography==41.0.3
cx-Oracle==8.3.0
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.3
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpcio==1.58.0
grpcio-status==1.58.0
h11==0.14.0
idna==3.4
mysql-connector-python==8.1.0
networkx==3.1
numpy==1.25.2
oscrypto==1.3.0
packaging==23.1
pandas==2.1.0
platformdirs==3.8.1
proto-plus==1.22.3
protobuf==4.21.12
psycopg2-binary==2.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.3.0
pydantic_core==2.6.3
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==3.2.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
starlette==0.27.0
tomlkit==0.12.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
uvicorn==0.23.2


